__pycache__
app-source
releases
temp_excludes
*.build
*.onefile-build
*.dist
compile.py
.env
winvenv
venv
.vim
.idea
.mypy_cache
.pytest_cache
.vscode
backup
imobiledevice
macvenv
convert_img_to_var.py
discord
discord_webhook
k.py
logs.txt
settings.json
todos.txt
UUID