requests
typing
aiohttp
loguru
tk # try (brew install python-tk) if not working in a mac
ttwidgets; sys_platform == 'darwin'
pywin32; sys_platform == 'win32'
colorama; sys_platform == 'win32'
python-bidi
tinydb
tkthread
pydantic_settings
cryptography
keyring
pillow
psutil