requests
typing
aiohttp
loguru
tk; sys_platform != 'darwin' # if in a mac, it can be installed with (brew install python-tk)
ttwidgets; sys_platform == 'darwin'
pywin32; sys_platform == 'win32'
colorama; sys_platform == 'win32'
thread==2.0.5